*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* banner style */
header{
    background-image: url(/images/banner/banner1.png);
    height: 808px;
}
.section{
    text-align: right;
    padding-top: 216px;
}
.banner-title{
    width: 525px;
    font-weight: 700;
    font-size: 65px;
    margin-left: 845px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    width: 494px;
    color: #444343;
    margin-left: 876px;
    margin-top: 24px;
}
.banner-button{
    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #F15B22;
    border: 2px solid #F15B22;
    margin-top: 32px;
    margin-right: 148px;
}

/* profite style */
.profite{
    margin-top: 150px;
    margin-left: 200px;
}
.title{
    display: flex;
}
.sub-title{
    width: 500px;
    padding-left: 100px;
    margin-top: 300px;

}
.profite-title{
    font-weight: 700;
    font-size: 40px;
    padding-right: 150px;
    
}
.description{
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    padding-top: 24px;
    padding-right: 190px;
    margin-bottom: 16px;
    color: #444343;
}
li{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

/* Plans style */
.plans-title{
    font-weight: 700;
    font-size: 40px;
    margin-top: 130px;
    text-align: center;
    

}
.plans-container{
    display: flex;
    gap: 20%;
    text-align: center;
    margin: 130px 300px;
}

/* call now style */
.grad-title{
    font-weight: 700;
    font-size: 40px;
}
.btn-new{
    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: #F15B22;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-top: 20px;
}
.gradient-section{ 
    padding: 80px 40px;
    padding-left: 70px;
    place-items: center;
    place-content: center; 
     background:url('../images/watch.png') center center ;  
     background: linear-gradient(to right, rgba(236, 115, 2, 0.911), rgba(236, 115, 2, 0.01)), url("../images/watch.png")center center;
     border: #F8F8F8;
     border-radius: 5px;
     background-repeat: no-repeat;
}
.gradient{
     padding: 130px 200px; 
     border: #F8F8F8;
     border-radius: 5px;
     
}


/* Footer style */
.future{
    background: #151414;
    height: 300px;
    display: flex;
    padding: 200px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 10px;
    
}
.footer-description{
    width: 400px;
    margin-right: 500px;
    margin-bottom: 20px;
}
.footer{
    font-weight: 300;
    font-size: 16px;   
    color: #F8F8F8; 
}
.subscribe{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}
.icons{
    margin-top: 40px;
}
input{
    background: #151414;
    color: #FFFFFF;
    margin-top: 25px;
    padding: 18px 30px;
    border: 2px solid #FFFFFF;
    width: 100%;
    border-radius: 5px;
}